*.class

# Ignore database files
*.tsv
Database
!Database/test-db
dbPath

# Ignore some VS Code meta files
Code/.classpath
Code/.project
Code/.settings
Code/pom.xml
.vscode    

# Ignore VP backup and lck files
*.bak*
*.lck
